@page "/"

<PageTitle>Démo</PageTitle>

<div class="container">
  <div class="row g-3">
    <Chute />
    <Cercle />
    <ElectroCardiogramme />

    <div class="col-6 gap-2 d-grid">
      <button class="btn btn-primary btn-lg">Spiral</button>
    </div>

    <div class="col-6 gap-2 d-grid">
      <button class="btn btn-primary btn-lg">Tunnel</button>
    </div>

    <div class="col-6 gap-2 d-grid">
      <button class="btn btn-primary btn-lg">Oscilloscope</button>
    </div>

    <div class="col-6 gap-2 d-grid">
      <button class="btn btn-primary btn-lg">Plasma</button>
    </div>
  </div>
</div>