@page "/"

<PageTitle>Démo</PageTitle>

<div class="container">
  <div class="row g-3">
    <Chute />
    <Cercle />
    <ElectroCardiogramme />
    <Spiral />
    <Tunnel />
    <Oscilloscope />
    <Plasma />
    <Manette/>
  </div>
</div>