@using BlazorAppMatrix.Components.Layout

@page "/Temps"

<PageTitle>Temps</PageTitle>

<div class="container">
  <div class="row g-3">
    <Horloge />
    <Meteo Animations="@MeteoIcon" />
    <Nouvelles Animations="@RadioCanadaIcon" />
    <AffDate />
    <Binaire />
    <LoremBarnak />
    <PingCheck />
     <div class="col-6 gap-2 d-grid"></div> 
    <CouleurPicker />
  </div>
</div>

<LedDebug />