@page "/Musique"

<PageTitle>Musique</PageTitle>

<div class="container">
  <div class="row g-3">
    <Spectrum />
@*     <Spectrum2 /> *@    
 <TitreKodi />
    <Graph />
    <HeureMusique />
    <VUMeter />
    <Spectrograph />
    <CouleurPicker />
    @*<TitreMusique/>*@
  </div>
</div>

<LedDebug />