@using LedLibrary.Entities
@model WebMatrix.Models.AnimationModel
@{
  ViewData["Title"] = "Animation";
}

@foreach (ImageClass animation in Model.Animations)
{
  <a href="@Url.Action("Animation", new { id = animation.FileNameID })" class="btn @Model.IsSelected(animation.FileNameID) btn-circle btn-lg" style="margin:4px;">
    <img src="~/@animation.FileName" style="width: 100%;height: 100%;object-fit: contain; " />
  </a>
}