
@{
  ViewData["Title"] = "Musique";
}

<div class="container-fluid" style="background-color:black;">
  <a href="@Url.Action("Musique", new { id = 0 })" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-clock"></i>
    </span>
    <span class="text" style="width:170px;">Spectrum 1</span>
  </a>

  <a href="@Url.Action("Musique", new { id = 1 })" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-clock"></i>
    </span>
    <span class="text" style="width:170px;">Spectrum 2</span>
  </a>

  <a href="@Url.Action("Musique", new { id = 2 })" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-clock"></i>
    </span>
    <span class="text" style="width:170px;">Graph</span>
  </a>


</div>