
@{
  ViewData["Title"] = "Musique";
}

@using (Html.BeginForm("Musique", "Home"))
{
  <div class="container-fluid" style="background-color:black;">

    <button type="submit" name="id" value="0" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
      <span class="icon text-white-50" style="width:60px;">
        <i class="fas fa-infinity"></i>
      </span>
      <span class="text" style="width:170px;">Spectrum</span>
    </button>

    <button type="submit" name="BtnTitre" value="Titre" class="@ViewBag.AffTitre btn btn-icon-split btn-lg" style="margin:10px;">
      <span class="icon text-white-50" style="width:60px;">
        <i class="fas fa-infinity"></i>
      </span>
      <span class="text" style="width:170px;">Titre</span>
    </button>

    <button type="submit" name="id" value="1" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
      <span class="icon text-white-50" style="width:60px;">
        <i class="fas fa-infinity"></i>
      </span>
      <span class="text" style="width:170px;">Graph</span>
    </button>

    <button type="submit" name="BtnHeure" value="Heure" class="@ViewBag.AffHeure btn btn-icon-split btn-lg" style="margin:10px;">
      <span class="icon text-white-50" style="width:60px;">
        <i class="fas fa-infinity"></i>
      </span>
      <span class="text" style="width:170px;">Heure</span>
    </button>

    <button type="submit" name="id" value="2" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
      <span class="icon text-white-50" style="width:60px;">
        <i class="fas fa-infinity"></i>
      </span>
      <span class="text" style="width:170px;">VU Meter</span>
    </button>

    <button type="submit" name="id" value="3" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
      <span class="icon text-white-50" style="width:60px;">
        <i class="fas fa-infinity"></i>
      </span>
      <span class="text" style="width:170px;">Spectrograph</span>
    </button>

    <input type="hidden" name="id" value="@ViewBag.id">
  </div>
}