
@{
  ViewData["Title"] = "Musique";
}

@using (Html.BeginForm("Musique", "Home"))
{
<div class="container-fluid" style="background-color:black;">

  <button type="submit" name="id" value="4" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-infinity"></i>
    </span>
    <span class="text" style="width:170px;">AudioGraph</span>
  </button>

  <button type="submit" name="id" value="1" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-infinity"></i>
    </span>
    <span class="text" style="width:170px;">Spectrum</span>
  </button>

  <button type="submit" name="id" value="2" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-infinity"></i>
    </span>
    <span class="text" style="width:170px;">Graph 1</span>
  </button>

  <button type="submit" name="id" value="3" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-infinity"></i>
    </span>
    <span class="text" style="width:170px;">Graph 2</span>
  </button>

  <button type="submit" name="id" value="0" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-infinity"></i>
    </span>
    <span class="text" style="width:170px;">VU Meter</span>
  </button>





  @*<button type="submit" name="id" value="5" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-infinity"></i>
    </span>
    <span class="text" style="width:170px;">test 1</span>
  </button>*@




  @*<select name="CmbAmplitude" class="btn btn-info btn-lg" style=" background-color: #36b9cc;color: white;border-color: #36b9cc;margin: 10px;width: 232px;">
    @for (float i = 0.5f; i <= 5f; i += 0.5f)
    {
      if (ViewBag.CmbAmplitude == i)
      {
        <option value="@i" selected>@i amplitude</option>
      }
      else
      {
        <option value="@i">@i amplitude</option>
      }
    }
  </select>*@

</div>
}