
@{
  ViewData["Title"] = "Temps";
}

<div class="container-fluid" style="background-color:black;">
  <a href="@Url.Action("Temps", new { id = 0 })" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-clock"></i>
    </span>
    <span class="text" style="width:170px;">Horloge</span>
  </a>

  <a href="@Url.Action("Temps", new { id = 1 })" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-cloud-sun-rain"></i>
    </span>
    <span class="text" style="width:170px;">Météo</span>
  </a>

  <a href="@Url.Action("Temps", new { id = 2 })" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-calendar-alt"></i>
    </span>
    <span class="text" style="width:170px;">Date</span>
  </a>

  <a href="@Url.Action("Temps", new { id = 3 })" class="btn btn-info btn-icon-split btn-lg" style="margin:10px;">
    <span class="icon text-white-50" style="width:60px;">
      <i class="fas fa-genderless"></i>
    </span>
    <span class="text" style="width:170px;">Binaire</span>
  </a>
</div>
