@inherits LayoutComponentBase

<PageTitle>LED MATRIX</PageTitle>

<div class="page">
  <div class="sidebar">
    <NavMenu />
  </div>

  <main class="bg-black">
    <article class="content px-4">

      <ErrorBoundaryOverride @ref="errorBoundary">
        @Body
      </ErrorBoundaryOverride>

    </article>
  </main>
</div>